<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/blood_bank_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/blood_bank_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".UserProfileActivity" />
        <activity
            android:name=".Aboutus"
            android:label="@string/information"
            android:parentActivityName=".MainpageActivity" />
        <activity
            android:name=".ViewNeedBloodDetails"
            android:parentActivityName=".NeedDonorActivity" />
        <activity
            android:name=".NeedDonorActivity"
            android:parentActivityName=".MainpageActivity" />
        <activity
            android:name=".UserProfileActivity"
            android:parentActivityName=".MainpageActivity" />
        <activity
            android:name=".ViewBloodViewDetails"
            android:parentActivityName=".BloodCamp" />
        <activity
            android:name=".BloodCamp"
            android:parentActivityName=".MainpageActivity" />
        <activity
            android:name=".ViewRequestDonor"
            android:parentActivityName=".AdminmainpageActivity" />
        <activity
            android:name=".UpdateRequestBlood"
            android:parentActivityName=".ViewRequestDonor" />
        <activity
            android:name=".ViewEvent"
            android:parentActivityName=".AdminmainpageActivity" />
        <activity
            android:name=".UpdateEvent"
            android:parentActivityName=".ViewEvent" />
        <activity
            android:name=".AdminAddRequestActivity"
            android:parentActivityName=".AdminmainpageActivity" />
        <activity
            android:name=".AdminAddEventActivity"
            android:parentActivityName=".AdminmainpageActivity" />
        <activity android:name=".AdminmainpageActivity" />
        <activity
            android:name=".AdminLogin"
            android:label="@string/admin_page"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainpageActivity" />
        <activity
            android:name=".ResetPasswordActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>